# Dados ausentes

In [1]:
import pandas as pd
from numpy import nan as NA

In [15]:
data = pd.DataFrame({'a':[1, NA,3.5, NA, 7], 'b':[3,NA,5.6,3.2,4.2]})

In [16]:
data

     a    b
0  1.0  3.0
1  NaN  NaN
2  3.5  5.6
3  NaN  3.2
4  7.0  4.2

In [17]:
data.dropna()

     a    b
0  1.0  3.0
2  3.5  5.6
4  7.0  4.2

In [18]:
data

     a    b
0  1.0  3.0
1  NaN  NaN
2  3.5  5.6
3  NaN  3.2
4  7.0  4.2

In [25]:
data.dropna(how='all')

     a    b
0  1.0  3.0
2  3.5  5.6
3  NaN  3.2
4  7.0  4.2

In [ ]:
data